<div class="">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= @recipe.name %></h1>
  </div>

  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @recipe %>" class="mb-12">
      <p class="my-5">
        <strong class="block font-medium mb-1">Time to prepare in minutes:</strong>
        <%= @recipe.time_to_prepare_in_minutes %>
      </p>

      <table class="min-w-full w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-3 py-3.5 pl-6 text-left text-sm font-semibold text-gray-900 w-96">Ingredient</th>
            <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 w-48">Quantity</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Notes</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          <% @recipe.ingredients.order(quantity: :desc).each do |ingredient| %>
            <tr>
              <td class="py-3.5 pr-3 pl-6 w-full max-w-0 text-sm text-gray-900 sm:w-auto sm:max-w-none">
                <%= ingredient.name %>
              </td>
              <td class="px-3 py-4 text-sm text-gray-900 text-right font-mono font-medium">
                <%= number_with_precision ingredient.quantity, precision: 2 %>
                <%= ingredient.units %>
              </td>
              <td class="px-3 py-4 text-sm text-gray-700">
                <%= ingredient.notes %>
              </td>
              <td class="px-3 py-4 text-sm text-gray-700">
                <%= render ButtonComponent.new(label: "Ask Question", url: new_ingredient_question_path(ingredient)) if get_current_user.is_coman? %>
              </td>
            </tr>

            <% ingredient.questions.each do |question| %>
              <tr>
                <td colspan="3" class="bg-gray-50 pl-4 py-2 pr-3 w-full max-w-0 text-xs font-medium text-gray-500 sm:w-auto sm:max-w-none">
                  <span class="inline-flex items-center">
                    <svg class="h-4 w-4 ml-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path d="M 3 3 L 3 12 C 3 14.749516 5.2504839 17 8 17 L 16 17 L 16 21 L 21 16 L 16 11 L 16 15 L 8 15 C 6.3315161 15 5 13.668484 5 12 L 5 3 L 3 3 z" fill="currentColor"/>
                    </svg>

                    <span class="mt-1">
                      Question: <span class="text-gray-900"><%= question.content %></span>
                      <br />
                    </span>
                  </span>
                </td>
                <td class="bg-gray-50 px-3 py-2 pr-6 w-full max-w-0 text-xs text-gray-400 sm:w-auto sm:max-w-none">
                  <!-- add answer button here for brand users -->
                </td>
              </tr>
            <% end %>
            <!-- insert q & a rows here -->
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render ButtonComponent.new(label: "Edit Recipe", url: edit_recipe_path(@recipe)) if get_current_user.is_brand? %>
  </div>
</div>
