<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= user.company %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is brand:</strong>
    <%= user.is_brand %>
  </p>

</div>
