<!DOCTYPE html>
<html class="h-full">

<head>
  <title>Rescale</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-50 flex items-stretch min-h-screen overflow-x-hidden" data-controller="nav" data-nav-hidden-class="hidden">
  <div class="hidden bg-blue-1100 m-1 rounded-md md:flex md:w-20 md:min-w-20 md:flex-col lg:min-w-[250px] lg:w-[250px] xl:min-w-[300px] xl:w-[300px]">
    <div class="flex grow flex-col px-6 md:px-4 lg:px-6">
      <div class="flex mt-2 py-4 xl:py-6 shrink-0 justify-center">
        <img class="hidden lg:inline-block h-12 xl:h-14 w-auto" src="<%= image_path 'logo-white.svg' %>" alt="Rescale">
      </div>
      <nav class="mt-4">
        <ul role="list" class="flex flex-1 flex-col gap-y-3">
          <li>
            <%= link_to recipes_path, class: "text-gray-400 md:hover:bg-blue-700 md:hover:text-white lg:hover:text-blue-500 lg:hover:bg-blue-1200 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium md:justify-center lg:justify-start items-center", data: { test: 'brands.sidebar.projects' } do %>
              <svg class="h-8 w-8 lg:h-6 lg:w-6 shrink-0" fill="none" viewBox="0 0 48 48" stroke-width="0" stroke="currentColor" aria-hidden="true">
                <path d="M 12.5 4 C 10.032499 4 8 6.0324991 8 8.5 L 8 37.253906 A 1.50015 1.50015 0 0 0 8 37.740234 L 8 39.5 C 8 41.967501 10.032499 44 12.5 44 L 38.5 44 A 1.50015 1.50015 0 1 0 38.5 41 L 12.5 41 C 11.653501 41 11 40.346499 11 39.5 L 11 39 L 38.5 39 A 1.50015 1.50015 0 0 0 40 37.5 L 40 8.5 C 40 6.0324991 37.967501 4 35.5 4 L 12.5 4 z M 12.5 7 L 35.5 7 C 36.346499 7 37 7.6535009 37 8.5 L 37 36 L 11 36 L 11 8.5 C 11 7.6535009 11.653501 7 12.5 7 z M 31.130859 10.460938 C 29.588403 10.410321 27.890081 11.039557 26.464844 12.464844 C 24.430858 14.498901 24.022284 17.088988 24.892578 18.986328 L 23.5 20.378906 L 16.560547 13.439453 A 1.50015 1.50015 0 0 0 15.478516 13 A 1.50015 1.50015 0 0 0 14.300781 13.599609 C 13.154781 15.127609 13.241956 17.051259 13.728516 18.78125 C 14.215076 20.511241 15.122345 22.225049 16.103516 23.794922 C 16.635199 24.645616 17.184024 25.436886 17.714844 26.164062 L 14.439453 29.439453 A 1.50015 1.50015 0 1 0 16.560547 31.560547 L 19.580078 28.541016 C 19.898393 28.916465 20.384766 29.503906 20.384766 29.503906 A 1.50015 1.50015 0 0 0 22.560547 29.560547 L 25.5 26.621094 L 29.439453 30.560547 A 1.50015 1.50015 0 1 0 31.560547 28.439453 L 26.734375 23.613281 A 1.50015 1.50015 0 0 0 26.388672 23.267578 L 25.621094 22.5 L 27.011719 21.109375 C 28.909226 21.98053 31.50062 21.569763 33.535156 19.535156 C 36.06891 17.001314 36.085748 13.601308 34.242188 11.757812 C 33.43563 10.951283 32.330548 10.500306 31.130859 10.460938 z M 30.757812 13.355469 C 31.349172 13.313369 31.805415 13.563239 32.121094 13.878906 C 32.752451 14.510241 33.122873 15.705193 31.414062 17.414062 C 29.705253 19.122933 28.510263 18.752429 27.878906 18.121094 C 27.247549 17.489759 26.877127 16.294807 28.585938 14.585938 C 29.440342 13.731503 30.166453 13.397569 30.757812 13.355469 z M 16.576172 17.697266 L 22.230469 23.351562 A 1.50015 1.50015 0 0 0 22.660156 23.779297 L 23.378906 24.5 L 21.658203 26.220703 C 20.973875 25.419357 20.003171 24.375777 18.646484 22.205078 C 17.752655 20.774951 16.972424 19.238759 16.615234 17.96875 C 16.584614 17.859883 16.600372 17.799676 16.576172 17.697266 z" fill="currentColor"/>
              </svg>
              <span class="md:hidden lg:flex flex-grow items-center text-base md:group-hover:text-white">
                <span class="flex-grow">Recipes</span>
              </span>
            <% end %>
          </li>
          <li>
            <%= link_to ingredients_path, class: "text-gray-400 md:hover:bg-blue-700 md:hover:text-white lg:hover:text-blue-500 lg:hover:bg-blue-1200 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-medium md:justify-center lg:justify-start items-center", data: { test: 'brands.sidebar.projects' } do %>
              <svg class="h-8 w-8 lg:h-6 lg:w-6 shrink-0" fill="none" viewBox="0 0 48 48" stroke-width="0" stroke="currentColor" aria-hidden="true">
                <path d="M 42.490234 6.9882812 A 1.50015 1.50015 0 0 0 41.685547 7.2402344 L 25.007812 18.03125 C 23.333617 16.772122 21.683693 15.985958 20.097656 15.59375 C 18.733418 15.25639 17.437237 15.203806 16.240234 15.324219 C 15.043232 15.444631 13.945247 15.738292 12.982422 16.091797 C 8.5538578 17.718569 6.7866767 21.862514 6.1855469 25.283203 C 5.6853437 28.129575 5.8889074 30.577001 5.9746094 31.355469 A 1.50015 1.50015 0 0 0 6.1054688 32.140625 C 6.1450349 32.228313 6.1920731 32.310126 6.2382812 32.392578 C 6.592702 33.298195 7.7728613 35.944903 10.333984 38.197266 C 13.445491 40.933659 18.743426 42.817758 26.056641 39.892578 C 28.488527 38.920047 31.060405 37.148893 32.982422 34.583984 C 34.904438 32.019075 36.13916 28.615454 35.722656 24.646484 C 35.549284 22.996038 36.260724 21.398203 37.605469 20.457031 L 44.359375 15.728516 A 1.50015 1.50015 0 0 0 43.583984 12.988281 A 1.50015 1.50015 0 0 0 42.640625 13.271484 L 35.886719 18 C 33.639463 19.572829 32.453654 22.249431 32.738281 24.958984 C 33.073778 28.156014 32.122765 30.729065 30.582031 32.785156 C 29.041298 34.841247 26.872473 36.335953 24.943359 37.107422 C 18.453574 39.703242 14.752196 38.087216 12.314453 35.943359 C 11.823629 35.511708 11.408105 35.0547 11.033203 34.599609 C 11.275466 34.6048 11.51998 34.606564 11.771484 34.597656 C 14.188056 34.512066 17.047068 33.785977 19.966797 32.46875 C 22.886437 31.151563 25.322544 29.489225 26.986328 27.734375 C 27.81822 26.85695 28.466517 25.955784 28.853516 24.982422 C 29.240515 24.00906 29.35387 22.877392 28.894531 21.859375 A 1.50015 1.50015 0 0 0 28.375 21.228516 C 28.029589 20.828997 27.684852 20.449467 27.339844 20.095703 L 43.314453 9.7597656 A 1.50015 1.50015 0 0 0 42.490234 6.9882812 z M 17.207031 18.261719 C 17.897593 18.246995 18.61982 18.318629 19.376953 18.505859 C 21.354195 18.994808 23.644059 20.305639 26.189453 23.283203 C 26.198222 23.41107 26.182164 23.578939 26.064453 23.875 C 25.879233 24.340856 25.45853 24.986472 24.810547 25.669922 C 23.514581 27.036822 21.349781 28.553562 18.732422 29.734375 C 16.115151 30.915148 13.548194 31.532948 11.666016 31.599609 C 10.724926 31.632939 9.9601417 31.521109 9.4882812 31.351562 C 9.1883329 31.243791 9.0507987 31.143929 8.9609375 31.052734 C 8.8979356 30.488869 8.6989992 28.304663 9.1386719 25.802734 C 9.645542 22.918424 10.878142 20.061431 14.017578 18.908203 C 14.994671 18.549459 16.056096 18.286259 17.207031 18.261719 z M 14.5 22 A 1.5 1.5 0 0 0 14.5 25 A 1.5 1.5 0 0 0 14.5 22 z M 17.5 25 A 1.5 1.5 0 0 0 17.5 28 A 1.5 1.5 0 0 0 17.5 25 z M 12.5 26 A 1.5 1.5 0 0 0 12.5 29 A 1.5 1.5 0 0 0 12.5 26 z" fill="currentColor"/>
              </svg>
              <span class="md:hidden lg:flex flex-grow items-center text-base md:group-hover:text-white">
                <span class="flex-grow">Ingredients</span>
              </span>
            <% end %>
          </li>
          <li class="mt-20">
            <div class="block text-xs font-semibold leading-6 text-gray-400 tracking-wider uppercase my-2">Login As</div>
            <%= render 'layouts/user_selection' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <main class="p-12 w-full">
    <%= yield %>
  </main>
</body>
</html>

<!-- Tailwind color generation
bg-teal-600 bg-amber-600 bg-violet-600 bg-green-600
bg-slate-600 bg-lime-600 bg-fuchsia-600 bg-indigo-600
bg-sky-600 bg-rose-600 bg-teal-600 bg-pink-600
bg-orange-600 bg-red-600 bg-teal-600 bg-pink-600
bg-gray-50 text-gray-700 ring-gray-600/10
bg-yellow-50 text-yellow-700 ring-yellow-600/10
bg-emerald-50 text-emerald-700 ring-emerald-600/10
bg-red-50 text-red-700 ring-red-600/10
bg-orange-50 text-orange-700 ring-orange-600/10
bg-amber-50 text-amber-700 ring-amber-600/10
bg-amber-800 text-amber-900 ring-amber-500/10
bg-pink-50 text-pink-700 ring-pink-600/10
bg-pink-100 text-pink-100 ring-pink-100
bg-pink-25 text-pink-25 ring-pink-25
bg-pink-50 text-pink-50 ring-pink-50
bg-rose-50 text-rose-700 ring-rose-600/10
bg-slate-50 text-slate-700 ring-slate-600/10
bg-blue-50 text-blue-700 ring-blue-600/10
bg-teal-50 text-teal-700 ring-teal-600/10
bg-green-50 text-green-700 ring-green-600/10
bg-lime-50 text-lime-700 ring-lime-600/10
bg-fuchsia-50 text-fuchsia-700 ring-fuchsia-600/10
bg-violet-50 text-violet-700 ring-violet-600/10
bg-indigo-50 text-indigo-700 ring-indigo-600/10
bg-sky-50 text-sky-700 ring-sky-600/10
bg-blue-500/10 bg-blue-500/25
bg-blue-1100
-->
